.searching {
  color: blue;
  font-size: 10px;
  padding-top: 6px;
}
.goodresults {
  color: #090;
  background: #efffef;
}
.result-label {
  font-size: 8px;
}
.weakresults {
  color: orange;
  background: #ffffef;
}
.badresults {
  color: red;
  background: #ffefef;
}