<div ng-class="{goodresults:status.searchResults.options > 3,weakresults:status.searchResults.options >= 1 && status.searchResults.options <= 3,badresults:status.searchResults.options == 0,searching:status.isSearching}">
  <div class="time" ng-if="showHour()">
    {{ hour }}:00
  </div>
  <div ng-if="showSpinner()">
    ...
  </div>
  <div ng-if="showSearchResults()">
    <div>{{ status.searchResults.options }}</div>
    <div class="result-label">results</div>
  </div>
</div>


<style>
  .searching {
    color: blue;
    font-size: 10px;
    padding-top: 6px;
  }
  .goodresults {
    color: #090;
    background: #efffef;
  }
  .result-label {
    font-size: 8px;
  }
  .weakresults {
    color: orange;
    background: #ffffef;
  }
  .badresults {
    color: red;
    background: #ffefef;
  }
</style>